body {
    background-image: url(/assets/img/bg.png);
}

.bg-logo {
    background-color: #4AAAA4; 
}

.text-color {
    color: #4AAAA4;
}

.beach-img {
    width: 180px;
}

.img-icon {
    width: 60px;
}

.width {
    width: 100%;
}

.bg-footer {
    background-color: #666;
    height: 60px;
}

.border-color {
   border-top: 6px solid #4AAAA4;
}

.img-width {
    width: 233px;
}

.img-gap img {
    margin-bottom: 30px;
    margin-right: 30px;
}

.submit-btn {
    width: 120px;
    height: 50px;
    background-color: #4AAAA5;
    border: none;
}

.submit-btn:hover {
    opacity: 0.8;
}